# -*- mode: gitignore; -*-

tests/code/addressing-aggregator1
tests/code/addressing-current
tests/code/addressing-purk-test-segment
tests/code/addressing-synchan
tests/code/aggregator-kc
tests/code/aggregator-kc-feedback
tests/code/c1c2p1
tests/code/c1c2p2
tests/code/callout1
tests/code/calloutInjector
tests/code/channel1-nernst1
tests/code/channel2-nernst1
tests/code/channel2-nernst2
tests/code/check-compartment
tests/code/config.status
tests/code/doublea-aggregator
tests/code/doublep
tests/code/fork3p
tests/code/fork4p1
tests/code/fork4p2
tests/code/fork4p3
tests/code/hh1
tests/code/hh2.c
tests/code/perfectclamp-passive1
tests/code/perfectclamp-passive10
tests/code/perfectclamp-passive10-2
tests/code/pool1
tests/code/pool1-contributors2
tests/code/pool1-feedback1
tests/code/pool1-feedback2
tests/code/pool1-nernst
tests/code/pool2
tests/code/pulsegen-extgate
tests/code/pulsegen-exttrig
tests/code/pulsegen-freerun
tests/code/semantic.cache
tests/code/serialization-c1c2p1
tests/code/serialization-c1c2p2
tests/code/serialization-channel2-nernst2
tests/code/serialization-doublep
tests/code/serialization-fork3p
tests/code/serialization-fork4p1
tests/code/serialization-fork4p2
tests/code/serialization-fork4p3
tests/code/serialization-pool1-feedback2
tests/code/serialization-pool2
tests/code/serialization-singlea-naf
tests/code/serialization-singlep
tests/code/serialization-tensizesp
tests/code/serialization-triplep
tests/code/singlea-naf
tests/code/singlea-naf-current
tests/code/singlea-naf2-aggregator
tests/code/singlep
tests/code/spiker1
tests/code/spiker1.c.orig
tests/code/spiker2
tests/code/spiker3
tests/code/springmass1
tests/code/springmass2
tests/code/springmass3
tests/code/springmass4
tests/code/stamp-h1
tests/code/table-cap
tests/code/table-cat
tests/code/table-dual-kdr
tests/code/table-dual-km
tests/code/table-k2
tests/code/table-ka
tests/code/table-kc
tests/code/table-kdr
tests/code/table-kdr2
tests/code/table-kh
tests/code/table-km
tests/code/table-naf
tests/code/table-nap
tests/code/tensizesp
tests/code/triplep
tests/code/vclamp-passive
tests/code/vclamp-sodium
tests/code/version

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# http://www.gnu.org/software/automake

Makefile.in
Makefile
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# generated pdf and ps files

*/*.pdf
*/*.ps

# generated object files and libraries

*.o
*.a
*.so

*.pyc

# gcc .Po dependency file directories

.deps

