#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './configure.ac',
# 		 './glue/configure.ac',
		 './glue/swig/perl/Heccer.pm',
		 './glue/swig/python/neurospaces/heccer/__cbi__.py',
# 		 './glue/swig/perl/configure.ac',
		 './heccer.c',
		 './heccer.dxgen',
		 './doxygen.cfg',
		 './install/rpm/heccer.spec',
		 './test-dist',
		 './tests.config',
		 './tests/code/configure.ac',
		 './tests/code/tests.config',
		 './tests/glue/tests.config',
		 './tests/specifications/python/pyversion.t',
		 './tests/specifications/version.t',
		 './tests/tests.config',
		],
       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  micro => '0',
		  minor => '0',
		  monotone_id => `mtn automate get_current_revision_id | perl -pe 's/\n//g'`,
		  package => 'heccer',
		 },
      };

return $config;

