#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './configure.ac',
		 './heccer.c',
		 './glue/configure.ac',
		 './glue/swig/perl/configure.ac',
		 './test-dist',
		 './tests/code/configure.ac',
		 './tests/specifications/version.t',
		],
       labels => {
		  package => '',
		  major => '',
		  minor => '',
		  micro => '',
		  label => '',
		  email => '',
		 },
      };

return $config;

