Source: heccer
Section: Science 
Priority: optional
Maintainer: Hugo Cornelis [hugo.cornelis@gmail.com]
Build-Depends: python2.5(>=2.5),libc6(>=2.3.6),libgcc1 (>=4.1.1)
Homepage: http://www.neurospaces.org

Package: heccer
Architecture: any
Depends: python2.5(>=2.5),libc6(>=2.3.6),libgcc1 (>=4.1.1)
Suggests: gnuplot
Description: Heccer is a fast compartmental solver, that is based on hsolve of the GENESIS simulator.	Heccer can be instantiated from C, or from Perl (or other scripting languages). It is also possible to link Heccer directly to Matlab. Heccer comes with Swig interface definitions, such that linking Heccer to any other technologies should be easy.	Adding new channel types to Heccer can be done using callouts. The callout mechanism allows for general user extensions that contribute a current or conductance at a particular time in a simulation. Heccer automatically integrates this contribution into the membrane potential.

